.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25rem;
    font-size: var(--table-font-size);
}

th, td {
    border: 0.0625rem solid var(--table-border-color);
    padding: var(--table-padding);
    text-align: center;
}

th {
    background-color: var(--table-header-bg-color);
}


button {
    display: block;
    margin: 1.25rem auto;
    padding: 0.625rem 1.25rem;
    background-color: var(--heading-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-bg-color-alt);
}

ul {
    list-style-type: disc;
    margin-left: 1.25rem;
}

.inputForm{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}