


input[type="text"],
input[type="number"] {
    width: 100%;
    padding: var(--input-padding);
    box-sizing: border-box;
}





.icon-fit-person {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1.25rem 0;
    flex-wrap: wrap;
}

.icon-img {
    width: 12rem;
    height: 24rem;
}

@media (max-width: 600px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th, td {
        padding: var(--input-padding);
        text-align: right;
        position: relative;
        border: none;
        border-bottom: 0.0625rem solid var(--table-border-color);
    }

    th::before,
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0.625rem;
        width: calc(50% - 1.25rem);
        padding-right: 0.625rem;
        text-align: left;
        font-weight: bold;
    }

    th {
        background-color: transparent;
    }

    td {
        border: none;
        padding-left: 50%;
    }

    td:last-child {
        border-bottom: 0;
    }

    td[data-label]::before {
        content: attr(data-label);
    }
}
