/* Dica.css */
.container-dicas {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--spacing-large);
  background-color: var(--background-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-dicas h1 {
  font-size: var(--font-size-xxl);
  color: var(--heading-color);
  margin-bottom: var(--spacing-medium);
  text-align: center;
}

.dica-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dica-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  background-color: var(--card-background-color);
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  border-radius: var(--border-radius-small);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.dica-item:hover {
  background-color: var(--card-hover-background-color);
}

.dica-item i {
  font-size: var(--font-size-large);
  color: var(--menu-hover-color);
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: var(--spacing-medium);
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--button-bg-color);
  border-radius: var(--border-radius-small);
  color: var(--button-text-color);
  font-size: var(--font-size-large);
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: var(--button-hover-bg-color);
}

.arrow {
  transition: transform 0.3s ease;
  margin-right: var(--spacing-small);
}

.arrow.rotate {
  transform: rotate(180deg);
}

.dica-list li {
  max-height: 100px;
  opacity: 1;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dica-list li.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.dica-list li.visible {
  max-height: 100px;
  opacity: 1;
}

.dica-list li img {
  margin-right: var(--spacing-small);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .container-dicas h1 {
      font-size: var(--font-size-xl);
  }

  .dica-item {
      padding: var(--spacing-small);
  }

  .toggle-btn {
      font-size: var(--font-size-medium);
  }

  .arrow {
      font-size: var(--font-size-medium);
  }
}

@media (max-width: 480px) {
  .container-dicas {
      padding: var(--spacing-medium);
  }

  .container-dicas h1 {
      font-size: var(--font-size-large);
  }

  .dica-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-btn {
      font-size: var(--font-size-small);
      padding: var(--spacing-small);
  }
}
