#formulario-objetivos {
    margin-top: 20px;
    margin: 0 auto;
    width: 70vw;
    max-width: var(--max-width);
    padding: 2.25rem;
    background-color: var(--modal-bg-color);
    box-shadow: 0 0 0.625rem var(--modal-box-shadow);
    border-radius: 0.625rem;
    font-family: var(--font-family);
    color: var(--text-color);
}

.objetivos-exibidos,
.medidas-exibidas,
.diferencas-exibidas,
.porcentagens-exibidas {
    margin-top: 20px;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: justify;
}

.campo-objetivo {
    margin-bottom: 10px;
}

#formulario-objetivos h2, h3 {
    color: var(--heading-color);
    margin-bottom: 2rem;
}


#formulario-objetivos button {
    margin-top: 10px;
    padding: var(--input-padding);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
}

#formulario-objetivos button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

.objetivos-exibidos {
    margin-top: 20px;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: justify;
}

.objetivos-exibidos h3 {
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}