/* Menu.css */
.menu-nav {
  background-color: var(--menu-background-color);
  padding: 1rem;
  margin-bottom: 2rem;
}

.menu-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-nav ul li {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.menu-nav ul li a,
.menu-nav ul li button {
  color: var(--menu-link-color);
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  height: 2.5rem;
}

.menu-nav ul li a:hover,
.menu-nav ul li button:hover {
  text-decoration: underline;
  color: var(--menu-hover-color);
  transition: color 0.3s ease-in-out;
}

.menu-nav ul li a .icon,
.menu-nav ul li button .icon {
  margin-right: 0.5rem;
}
li, button svg {
  fill: var(--menu-link-color);
  margin-right: 0.5rem;
}
 li a svg {
  fill: var(--menu-link-color);
  margin-right: 0.5rem;
}

.logout-button,
.login-button {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button:hover,
.login-button:hover {
  transition: color 0.3s ease-in-out;
}