.dicas-section {
  margin-top: 2rem;
  text-align: left;
  padding-bottom: 3rem;
}

.dicas-section h2 {
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 1rem;
}

.dicas-section ul {
  list-style-type: disc;
  margin-left: 1.25rem;
  padding-left: 1rem;
}

.dicas-section li {
  margin-bottom: 0.5rem;
}

.li__dicas,
.li__calcular {
  color: var(--heading-color) !important;
  font-size: 1.5rem;
}