.icone-fit-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 300px; /* Ajuste conforme necessário */
  margin: auto;
}

.icone-img {
  width: 100%;
  max-width: 200px; /* Ajustável para melhor proporção */
  height: auto;
  display: block;
}

