footer.footer-modern {
  background-color: var(--menu-background-color);
  color: var(--menu-link-color);
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid #444;
}

.footer-container {

  margin: 0 auto;
  padding: 0 1rem;
}

.footer-content {
  margin-bottom: 1rem;
}

.footer-logo {
  font-size: 1.5rem;
  color: var(--menu-link-color) !important;
  margin-bottom: 0.5rem;
}

.footer-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff!important;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-link {
  color: var(--menu-link-color) !important;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #fff;
}

.footer-bottom {
  font-size: 0.875rem;
  color: var(--menu-link-color) !important;
  margin-top: 1rem;
}

.footer-bottom p {
  margin: 0;
  color: var(--menu-link-color) !important;
}
