/* Estilo geral para o contêiner das etiquetas */
.etiquetas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* Estilo base para todas as etiquetas */
.etiqueta {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: var(--button-text-color);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-small);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  transition: all 0.3s ease;
}

/* Tooltip */
.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-small);
  white-space: nowrap;
  opacity: 0.9;
}

/* Comportamento no hover */
.etiqueta p {
  display: none;
}

.etiqueta:hover p {
  display: block;
}

/* Estilos personalizados para cada etiqueta */
.etiqueta-peitoral {
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.etiqueta-abdomen {
  top: 5.5rem;
  left: 50%;
  transform: translateX(-52%);
}

.etiqueta-cintura {
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}

.etiqueta-quadril {
  top: 10rem;
  left: 50%;
  transform: translateX(-52%);
}

.etiqueta-coxa {
  top: 13.5rem;
  left: 54%;
  transform: translateX(-123%);
}

.etiqueta-braco {
  top: 7rem;
  left: 64%;
  transform: translateX(-50%);
}

/* Media Queries para Responsividade */

/* Para telas até 768px (tablet) */
@media (max-width: 768px) {
  .etiqueta {
    font-size: calc(var(--font-size-small) - 0.125rem);
    padding: calc(var(--spacing-small) - 2px) calc(var(--spacing-medium) - 2px);
  }

  .etiquetas {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}

/* Para telas até 480px (smartphone) */
@media (max-width: 480px) {
  .etiqueta {
    font-size: calc(var(--font-size-small) - 0.25rem);
    padding: calc(var(--spacing-small) - 3px) calc(var(--spacing-medium) - 3px);
  }

  .etiquetas {
    width: 100%;
  }
}
