.etiquetas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.etiqueta {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}

.etiqueta-peitoral {
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.etiqueta-peitoral p {
  display: none;
}

.etiqueta-peitoral:hover p {
  display: block;
}

.etiqueta-abdomen {
  top: 5.5rem;
  left: 50%;
  transform: translateX(-52%);
}

.etiqueta-cintura {
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}

.etiqueta-quadril {
  top: 10rem;
  left: 50%;
  transform: translateX(-52%);
}

.etiqueta-coxa {
  top: 13.5rem;
  left: 54%;
  transform: translateX(-123%);
}

.etiqueta-braco {
  top: 7rem;
  left: 64%;

}