/* Estilo do container de login */
.login-container {
  padding: var(--spacing-medium);
  background-color: var(--form-background-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 4px 6px var(--form-box-shadow);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login-container h2 {
  font-size: var(--font-size-large);
  color: var(--heading-color);
  margin-bottom: var(--spacing-medium);
}

.google-login-button {
  width: 100%;
  padding: var(--spacing-small);
  background-color: var(--info-color);
  color: var(--button-text-color);
  font-size: var(--font-size-base);
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login-button:hover {
  background-color: var(--button-hover-bg-color-alt);
}

.google-login-button:disabled {
  background-color: var(--input-border-color);
  cursor: not-allowed;
}

.error-message {
  color: var(--danger-color);
  margin: var(--spacing-small) 0;
}

p {
  margin-top: var(--spacing-small);
  font-size: var(--font-size-small);
}

a {
  color: var(--menu-hover-color);
}

a:hover {
  text-decoration: underline;
}
