

/* Container principal */
.user-info-container {
  padding: var(--spacing-medium);
  background-color: var(--background-color);
 
}

/* Título */
.user-info-title {
  font-size: var(--font-size-header);
  color: var(--heading-color);
  font-weight: bold;
  margin-bottom: var(--spacing-medium);
  text-align: center;
}

/* Container das informações do usuário */
.user-info-card {
  background-color: #fff;
  padding: var(--spacing-medium);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

/* Bloco de dados do usuário */
.user-info-details {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-large);
}

/* Imagem do usuário */
.user-info-photo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: var(--spacing-medium);
  border: 0.25rem solid var(--table-border-color);
}

/* Nome e detalhes */
.user-info-name h3 {
  font-size: var(--font-size-header);
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.user-info-name p {
  font-size: var(--font-size-base);
  color: var(--text-color);
  margin: 5px 0;
}

/* Lista de medidas */
.user-info-measurements {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-info-measurement {
  font-size: var(--font-size-base);
  color: var(--text-color);
  margin-bottom: 8px;
  padding: 4px 0;
  border-bottom: 1px solid var(--table-border-color);
}

.user-info-measurement strong {
  color: var(--heading-color);
}
