.perfil-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}

.perfil-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--heading-color);
}

.perfil-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.perfil-container label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--text-color);
}

.perfil-container input {
  padding: var(--input-padding);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.perfil-container button {
  padding: 10px;
  font-size: 16px;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.perfil-container button:hover {
  background-color: var(--button-hover-bg-color);
}
